@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header class="w3-container w3-center" style="padding:120px; background-color: #ffcccc;">
	<h1 class="w3-jumbo w3-text-red"><b>Welcome</b></h1>
	<!-- Centered Shorter Red Bar -->
	<div style="width: 20%; height: 7px; background-color: red; margin: 20px auto;" class="w3-round"></div>
	<div class="w3-row-padding w3-padding-64 w3-container">
		<div class="w3-content">
			<div class="w3-center">
				<h1>This is the Contract Monthly Claim System (CMCS)</h1>
				<h2 class="w3-padding-32">Please Identifie yourself</h2>
				<h3>Are you a:</h3>
				<a asp-area="" asp-controller="Home" asp-action="LecturerPage"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Lecturer</button></a>
				<br />
				<a asp-area="" asp-controller="Home" asp-action="LecturerPage"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Manager/Coordinator</button></a>
			</div>
		</div>
	</div>

</header>

<body style="background-color: #ffcccc;">
<!-- Your page content here -->
</body>



